{
	"useTabs": true,
	"printWidth": 200,
	"singleQuote": true,
	"overrides": [
		{
			"files": "*.css",
			"options": {
				"parser": "css"
			}
		},
		{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		},
		{
			"files": "*.md",
			"options": {
				"parser": "markdown"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		}
	]
}
